
.main {
    height: 100vh;
    width: 100vw;
    padding-top: 80px;
    cursor: default;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(15px); 
    z-index: 100; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {

    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;



}

.btn-header{
    height: 48px;
    width: 129px;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.actions-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.action {
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
    transition: .4s ease;
}

.action:hover {
    transform: scale3d(1.04, 1.04, 1.04);
    transition: .4s ease;
    color: var(--dark-grey);
}


.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
}

.panel1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 140px;
}

.panel1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1088px;

}
.h1-text{
    margin-bottom: 12px ;
}

.subtitle-text{
    max-width: 600px;
    margin-bottom: 40px ;
}


.video-container{
    max-height: 540px;
    max-width: 960px ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

 img {
    max-width: 960px ;
    max-height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
    border-radius: 30px;

}

img:hover {
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.2);
    transform: scale3d(1.02, 1.02, 1.02);
    transition: .4s ease-in-out;

}


.panel2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 140px;

}

.panel2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 500px;
    margin-bottom: 48px
  }

  .btn-content {
    width: 168px;
    height: 50px;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    border-top: 0.8px solid rgba(0, 0, 0, 0.2) ;
    box-sizing: border-box;
    max-width: 1072px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;
}

.footer-left {
    display: flex;
    flex-direction: column;
}
.footer-logo{
display: flex;
flex-direction: row;
align-items: center;
margin-bottom: 29px;

}

.footer-logo > .logo-text {
    font-size: 25px;
}

.footer-logo > .logo {
    width: 35px;
    height: 35px;
}

.copyright-line{
    margin-bottom: 24px;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
}

.column-title {
    margin-bottom: 31px;
}

.column-actions {
    margin-bottom: 24px;
    transition: .4s ease;

}

.column-actions:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    transition: .4s ease;
    color: var(--dark-grey);
    cursor: pointer;
}


.socials-column {
    display: flex;
    flex-direction: row;
    max-width: 144px;
    width: 100%;
    height: 100%;

}


.social-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px; 
    height: 32px; 
    background-color: var(--green);
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    transition: .2s ease-in-out;

   
}
.social-btn:hover {
    transform: scale3d(1.08, 1.08, 1.08);
    transition: .2s ease-in-out;
    box-shadow: 0 20px 40px -20px rgba(0,0,0,.15);
    cursor: pointer;
}


.icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(1);
}



